## Let's analyze the distribution of fines across all car models.

In [1]:
import pandas as pd

### Load the JSON file that was created in the previous exercise into a dataframe

In [2]:
views = pd.read_json('auto.json')
views = views.set_index('CarNumber')
print(views)

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
E432XX77RUS        1   6500.000000  Toyota    Camry
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[725 rows x 4 columns]

### Make the following selects

##### Display the rows only where the fines are more than 2,100

In [3]:
print(views[views['Fines'] > 2100])

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
E432XX77RUS        1   6500.000000      Toyota    Camry
92918M178RUS       1   5700.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
E40577152RUS       1   8594.586466        Ford    Focus
...              ...           ...         ...      ...
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
O22097197RUS       1  24300.000000        Ford    Focus
M0309X197RUS       1  22300.000000        Ford    Focus
H419XE197RUS       2   8594.586466      Toyota  Corolla

[455 rows x 4 columns]

##### Display the rows only where the fines are more than 2,100 and the refund equals 2

In [4]:
print(views[(views['Fines'] > 2100) & (views['Refund'] == 2)])

              Refund         Fines        Make    Model
CarNumber
Y163O8161RUS       2   3200.000000        Ford    Focus
H234YH197RUS       2   6000.000000        Ford    Focus
707987163RUS       2   2200.000000        Ford    Focus
K330T8197RUS       2   8200.000000       Skoda  Octavia
M592CH197RUS       2   8594.586466       Skoda  Octavia
...              ...           ...         ...      ...
O136HO197RUS       2   7800.000000      Toyota  Corolla
O68897197RUS       2  12300.000000        Ford    Focus
O718MM163RUS       2   8594.586466        Ford    Focus
7065C8197RUS       2  11400.000000  Volkswagen   Passat
H419XE197RUS       2   8594.586466      Toyota  Corolla

[302 rows x 4 columns]

##### Display the rows only where the models are from the list: [’Focus’, ’Corolla’]

In [5]:
print(views[(views['Model'] == 'Focus') | (views['Model'] == 'Corolla')])

              Refund         Fines    Make    Model
CarNumber
Y163O8161RUS       2   3200.000000    Ford    Focus
7184TT36RUS        1   2100.000000    Ford    Focus
X582HE161RUS       2   2000.000000    Ford    Focus
92918M178RUS       1   5700.000000    Ford    Focus
H234YH197RUS       2   6000.000000    Ford    Focus
...              ...           ...     ...      ...
Y163O8161RUS       2   1600.000000    Ford    Focus
M0309X197RUS       1  22300.000000    Ford    Focus
O673E8197RUS       2    600.000000    Ford    Focus
8610T8154RUS       1   2000.000000    Ford    Focus
H419XE197RUS       2   8594.586466  Toyota  Corolla

[593 rows x 4 columns]

##### Display the rows only where the car number is from the list:
###### [’Y7689C197RUS’, ’92928M178RUS’, ’7788KT197RUS’, ’H115YO163RUS’, ’X758HY197RUS’]

In [6]:
print(views.loc[['Y7689C197RUS', '92928M178RUS', '7788KT197RUS', 'H115YO163RUS', 'X758HY197RUS']])

              Refund          Fines  Make  Model
CarNumber
Y7689C197RUS       1   27000.000000  Ford  Focus
Y7689C197RUS       2    9000.000000  Ford  Focus
Y7689C197RUS       2   45000.000000  Ford  Focus
Y7689C197RUS       1   36000.000000  Ford  Focus
92928M178RUS       1    8594.586466  Ford  Focus
92928M178RUS       1     600.000000  Ford  Focus
92928M178RUS       1    1200.000000  Ford  Focus
92928M178RUS       2    3000.000000  Ford  Focus
7788KT197RUS       2   12000.000000  Ford  Focus
7788KT197RUS       2    8594.586466  Ford  Focus
7788KT197RUS       1   20000.000000  Ford  Focus
7788KT197RUS       2    4000.000000  Ford  Focus
H115YO163RUS       1    2200.000000  Ford  Focus
H115YO163RUS       1    8594.586466  Ford  Focus
H115YO163RUS       2    1100.000000  Ford  Focus
X758HY197RUS   24200   24200.000000  Ford  Focus
X758HY197RUS       2   72600.000000  Ford  Focus
X758HY197RUS       2  145200.000000  Ford  Focus

### Make the aggregations with the make and the model

##### Display the median fines grouped by the make

In [7]:
print(views.groupby('Make')['Fines'].median())

Make
Audi          4200.0
BMW           6500.0
Ford          3500.0
Skoda         3250.0
Toyota        7700.0
Volkswagen    4300.0
Volvo         8500.0
Name: Fines, dtype: float64

#####  Display the median fines grouped by the make and the model

In [8]:
print(views.groupby(['Make', 'Model'])['Fines'].median())

Make        Model
Ford        Focus      3500.0
            Mondeo     7650.0
Skoda       Octavia    3250.0
Toyota      Camry      7700.0
            Corolla    7700.0
Volkswagen  Golf       4800.0
            Jetta      2800.0
            Passat     3500.0
            Touareg    5800.0
Name: Fines, dtype: float64

#####  Display the number of fines grouped by the make and the model in order to understand if we can trust the median values

In [9]:
print(views.groupby(['Make', 'Model'])['Fines'].count())

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64

##### Display the minimum and the maximum fines grouped by the make and the model in order to better understand the variance

In [10]:
print(views.groupby(['Make', 'Model'])['Fines'].max())
print(views.groupby(['Make', 'Model'])['Fines'].min())

Make        Model
Ford        Focus      180000.000000
            Mondeo      46200.000000
Skoda       Octavia    145000.000000
Toyota      Camry       22400.000000
            Corolla     34300.000000
Volkswagen  Golf       168000.000000
            Jetta       46000.000000
            Passat      29700.000000
            Touareg      8594.586466
Name: Fines, dtype: float64
Make        Model
Ford        Focus       100.0
            Mondeo     1100.0
Skoda       Octavia     300.0
Toyota      Camry       500.0
            Corolla     900.0
Volkswagen  Golf        200.0
            Jetta       500.0
            Passat      100.0
            Touareg     500.0
Name: Fines, dtype: float64

##### Display the standard deviation of the fines grouped by the make and the model in order to better understand the variance

In [11]:
views.groupby(['Make', 'Model'])['Fines'].std()

Make        Model
Ford        Focus      15041.269437
            Mondeo     18987.329108
Skoda       Octavia    24339.742174
Toyota      Camry       6410.250654
            Corolla     9629.325617
Volkswagen  Golf       36950.839950
            Jetta      17743.026799
            Passat      6969.739135
            Touareg     3461.778173
Name: Fines, dtype: float64

### Make the aggregations with the car number

##### Display the car numbers grouped by the number of the fines in descending order, we want to find those who most often violated the law

In [12]:
val_count =views.index.value_counts().sort_values(ascending=False)
print(val_count)

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
X015HY197RUS    3
7830C8197RUS    3
               ..
Y965O8197RUS    1
Y164O8161RUS    1
C420X938RUS     1
M942OT152RUS    1
8610T8154RUS    1
Name: count, Length: 531, dtype: int64

##### Select from the initial dataframe all the rows corresponding to the top-1 car number, we want to zoom in a little bit

In [13]:
print(val_count[val_count == val_count.max()])

CarNumber
Y7689C197RUS    4
92928M178RUS    4
7788KT197RUS    4
Name: count, dtype: int64

##### Display the car numbers grouped by the sum of the fines in descending order, we want to find those who paid the most

In [14]:
val_sum = views['Fines'].groupby(views.index).sum().sort_values(ascending=False)
print(val_sum)

CarNumber
X758HY197RUS    242000.0
9020YC197RUS    217500.0
M0279X197RUS    216000.0
Y352O8197RUS    207200.0
Y778EE197RUS    192000.0
                  ...
83218C154RUS       100.0
Y195O8161RUS       100.0
K376HE161RUS       100.0
705787163RUS       100.0
K326T8197RUS       100.0
Name: Fines, Length: 531, dtype: float64

##### Select from the initial dataframe all the rows corresponding to the top-1 car number, we want to zoom in a little bit

In [15]:
print(val_sum[val_sum == val_sum.max()])

CarNumber
X758HY197RUS    242000.0
Name: Fines, dtype: float64

##### Display a table that answers the question: are there any car numbers that were connected to different models?

In [16]:
print(views.groupby(views.index)['Model'].nunique().sort_values(ascending=False))

CarNumber
704687163RUS    1
O719MM163RUS    1
O6939X163RUS    1
O68897197RUS    1
O673E8197RUS    1
               ..
Y687HM197RUS    0
Y693HM197RUS    0
M589CH197RUS    0
H837YK197RUS    0
X023HY197RUS    0
Name: Model, Length: 531, dtype: int64

In [17]:
views.groupby(['Make', 'Model']).agg('Fines').count()

Make        Model
Ford        Focus      575
            Mondeo       6
Skoda       Octavia     48
Toyota      Camry       16
            Corolla     18
Volkswagen  Golf        20
            Jetta        6
            Passat      22
            Touareg      5
Name: Fines, dtype: int64