In [1]:
import pandas as pd
import sqlite3

#### Create a connection to the database using the library sqlite3

In [2]:
con = sqlite3.connect('../../datasets/checking-logs.sqlite')

#### Get the schema of the table checker

In [3]:
print(pd.read_sql("PRAGMA table_info(checkers)", con))

Empty DataFrame
Columns: [cid, name, type, notnull, dflt_value, pk]
Index: []

#### Get only the first 10 rows of the table checker to check what the table looks like

In [4]:
sql = """
SELECT *
FROM checker
LIMIT 10
"""
print(pd.read_sql(sql, con))

   index    status  success                   timestamp  numTrials   labname  \
0      0  checking        0  2020-04-16 21:12:50.740474          5      None
1      1     ready        0  2020-04-16 21:12:54.708365          5  code_rvw
2      2  checking        0  2020-04-16 21:46:47.769088          7      None
3      3     ready        0  2020-04-16 21:46:48.121217          7     lab02
4      4  checking        0  2020-04-16 21:53:01.862637          6  code_rvw
5      5     ready        0  2020-04-16 21:53:05.373389          6  code_rvw
6      6  checking        0  2020-04-17 05:18:51.965864          1      None
7      7     ready        0  2020-04-17 05:19:02.744528          1  project1
8      8  checking        0  2020-04-17 05:22:35.249331          2  project1
9      9     ready        1  2020-04-17 05:22:45.549397          2  project1

       uid
0  admin_1
1  admin_1
2  admin_1
3  admin_1
4  admin_1
5  admin_1
6     None
7   user_4
8   user_4
9   user_4

#### count how many rows satisfy the following conditions using only one query with any number of subqueries:
  * count the rows from the pageviews table but only with users from the checker
  table with:
    * status = ’ready’, we do not want to analyze the logs that are in
    status
    checking
    * numTrials = 1, we want to analyze only the first commits,
    because only
    they can tell us when a student started working on a lab
    * labnames should be from the list: ’laba04’, ’laba04s’, ’laba05’,
    ’laba06’,
    ’laba06s’, ’project1’. Only they were active during the experiment
  * store in the dataframe checkers with the column cnt

In [5]:
sql = """
WITH filt_checkers AS
    (SELECT *
    FROM checker
    WHERE 
    status = 'ready'
    AND NumTrials = 1
    AND labname IN ('laba04', 'laba04s', 'laba05', 'laba06', 'laba06s', 'project1'))
SELECT COUNT(*) AS cnt
FROM checker
WHERE uid IN 
    (SELECT uid 
    FROM filt_checkers)
"""
checkers = pd.read_sql(sql, con)
print(pd.read_sql(sql, con))

    cnt
0  3205

#### Close the connection

In [6]:
con.close()